.idea/
__pycache__/
1979 Revolution.docx
a.sql
aaa.py
config.py
DG.py
Gry do odnalezienia.xlsx
gry ukończone.xlsx
list.txt
procka.sql
projekt I.sql
Projekt 2.sql
różne.sql
ukończenie.sql
zeszyt1.xlsx
SQLQuery40.sql
Procedure_GamesDataRetrieve.sql