.idea/
__pycache__/
.mypy_cache/
images/games/
a.sql
config.py
Projekt 2.sql
db_ProcedureGamesDataRetrieve.sql
Gry do odnalezienia.xlsx
gry ukończone.xlsx
covers/
rsthbgdxryhnjbx.xlsx
pivot in sql.sql
report.txt